@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="landing-section">
        <h1>TripManager</h1>
        <p>
            TripManager is an innovative web application for organizing and booking trips.
            It allows users to easily search destinations, book trips, send inquiries, and manage their profiles.
            Administrators have advanced options for managing all entities and users.
            Join us and discover all the possibilities TripManager offers for your next journey!
        </p>
        <a href="@Url.Action("Features", "Home")" class="see-more-btn">Learn more</a>
    </div>
</div>
